# FINAL PROJECT

Người thực hiện

    Họ tên: Nguyễn Đình Tuyên. MSSV: 1712888

    Họ tên: Đặng Đỗ Huỳnh Như. MSSV: 18120219

## Import các thư viện cần thiết

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## 1. Thu thập dữ liệu

- Dữ liệu về chủ đề gì và lấy từ nguồn nào?

- Tên Dataset: Data scientist salary.
- Nguồn: Kaggle.
- Tác giả: Nikhil Bhathi.
- Link: https://www.kaggle.com/nikhilbhathi/data-scientist-salary-us-glassdoor?fbclid=IwAR1a7W_NDn-VS416XxzxXS3NsQAm7bf65Qz0M_a63cgOk1hRfvwWDdVfKII
- Chủ đề: Dữ liệu chứa thông tin về các công việc thuộc lĩnh vực data science ở các bang nước Mỹ.

- Dữ liệu có được cho phép sử dụng không? (xem license của dữ liệu)

License của dữ liệu là CC0: Public domain. Do đó, dữ liệu cho phép sử dụng.

- Dữ liệu được người ta thu thập như thế nào?

Dữ liệu được thu thập từ trang web việc làm Glassdoor bằng công cụ Selenium.

## 2. Khám phá dữ liệu

### Đọc dữ liệu từ file csv vào dataframe

In [13]:
df = pd.read_csv("data_scientist_salary.csv")

In [14]:
df.head(3)

,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,...,tensor,hadoop,tableau,bi,flink,mongo,google_an,job_title_sim,seniority_by_title,Degree
0,0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\r\nLocation: Albuquerque, NM\r\...",3.8,Tecolote Research\r\n3.8,"Albuquerque, NM","Goleta, CA",501 - 1000,1973,...,0,0,1,1,0,0,0,data scientist,na,M
1,1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\r\n\r\nI. General Summary\r\...,3.4,University of Maryland Medical System\r\n3.4,"Linthicum, MD","Baltimore, MD",10000+,1984,...,0,0,0,0,0,0,0,data scientist,na,M
2,2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\r\n4.8,"Clearwater, FL","Clearwater, FL",501 - 1000,2010,...,0,0,0,0,0,0,0,data scientist,na,M

In [15]:
df.tail(3)

,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,...,tensor,hadoop,tableau,bi,flink,mongo,google_an,job_title_sim,seniority_by_title,Degree
739,952,"Project Scientist - Auton Lab, Robotics Institute",$56K-$91K (Glassdoor est.),The Auton Lab at Carnegie Mellon University is...,2.6,Software Engineering Institute\r\n2.6,"Pittsburgh, PA","Pittsburgh, PA",501 - 1000,1984,...,0,0,0,0,0,0,0,other scientist,na,P
740,953,Data Science Manager,$95K-$160K (Glassdoor est.),Data Science ManagerResponsibilities:\r\n\r\nO...,3.2,"Numeric, LLC\r\n3.2","Allentown, PA","Chadds Ford, PA",1 - 50,-1,...,0,0,0,0,0,0,0,data scientist,na,na
741,955,Research Scientist – Security and Privacy,$61K-$126K (Glassdoor est.),Returning Candidate? Log back in to the Career...,3.6,Riverside Research Institute\r\n3.6,"Beavercreek, OH","Arlington, VA",501 - 1000,1967,...,0,0,0,0,0,0,0,other scientist,na,M

Loại bỏ cột index vì ta sẽ tự động pandas sẽ tự đánh số thứ tự cho các dòng dữ liệu.

In [16]:
df = df.drop(columns="index")
df.head(3)

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,...,tensor,hadoop,tableau,bi,flink,mongo,google_an,job_title_sim,seniority_by_title,Degree
0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\r\nLocation: Albuquerque, NM\r\...",3.8,Tecolote Research\r\n3.8,"Albuquerque, NM","Goleta, CA",501 - 1000,1973,Company - Private,...,0,0,1,1,0,0,0,data scientist,na,M
1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\r\n\r\nI. General Summary\r\...,3.4,University of Maryland Medical System\r\n3.4,"Linthicum, MD","Baltimore, MD",10000+,1984,Other Organization,...,0,0,0,0,0,0,0,data scientist,na,M
2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\r\n4.8,"Clearwater, FL","Clearwater, FL",501 - 1000,2010,Company - Private,...,0,0,0,0,0,0,0,data scientist,na,M

### Dữ liệu có bao nhiêu dòng và bao nhiêu cột?

In [10]:
num_rows, num_cols = df.shape
print("Dữ liệu gồm:")
print("-", num_rows, "dòng.")
print("-", num_cols, "cột.")

Dữ liệu gồm:
- 742 dòng.
- 41 cột.

### Mỗi dòng có ý nghĩa gì? Có vấn đề các dòng có ý nghĩa khác nhau không?

Theo mô tả của tác giả bộ dữ liệu và theo quan sát sơ bộ, dữ liệu một dòng cho biết thông tin của một công việc trong lĩnh vực Data science được đăng tuyển trên trang web việc làm Glassdoor và có vẻ không có dòng nào bị lạc loài.

### Dữ liệu có các dòng bị lặp không?

In [17]:
have_duplicated_rows = df.duplicated().any()
have_duplicated_rows

True

Kết quả của câu lệnh trên cho thấy dữ liệu có các dòng bị lặp.

### Mỗi cột có ý nghĩa gì?

Dưới đây là mô tả của tác giả về các cột trong file "data_scientist_salary.csv":
- **Job Title**: Chức danh của công việc, ví dụ: Data scientist, junior data scientist, senior data scientist, ...
- **Salary Estimate**: Khoảng lương và nguồn lấy thông tin.
- **Job Description**: Mô tả chung về công việc, cho biết các yêu cầu kỹ năng mà công ty mong muốn và những việc mà người trúng tuyển sẽ đảm nhiệm.
- **Rating**: Điểm đánh giá cho công ty.
- **Company name**: Tên công ty.
- **Location**: Địa điểm làm việc.
- **Headquarters**: Địa điểm trụ sở chính của công ty.
- **Size**: Quy mô nhân lực của công ty.
- **Founded**: Năm thành lập công ty.
- **Type of ownership**: Cho biết đây là công ty tư nhân, đại chúng hay thuộc nhà nước.
- **Industry**: Cho biết hoạt động kinh doanh của công ty thuộc ngành công nghiệp nào, ví dụ: công nghệ thông tin, công nghiệp dược phẩm, ...
- **Sector**: Lĩnh vực mà công ty hoạt động.
- **Revenue**: Tổng số doanh thu hàng năm của công ty.
- **Competitors**: Cho biết những đối thủ cạnh tranh hiện tại của công ty.
- **Hourly**: Có giá trị 1 nếu mức lương được báo cáo theo giờ và có giá trị là 0 ở các trường hợp còn lại.
- **Employer provided**: Có giá trị là 1 nếu mức lương được cung cấp bởi nhà tuyển dụng và có giá trị là 0 ở các trường hợp còn lại.
- **Lower Salary**: Mức lương tối thiểu cho công việc này của công ty.
- **Uppper Salary**: Mức lương tối đa cho công việc này của công ty.
- **Avg Salary(K)**: Mức lương trung bình cho công việc này của công ty.
- **company_txt**: Chứa tên công ty.
- **Job Location**: Tên viết tắt của vị trí công ty (bang).
- **Age** Tuổi của công ty (tính theo năm).
- **Python**: Có giá trị là 1 nếu công việc đòi hỏi kỹ năng python, ngược lại có giá trị 0
- **spark**: Có giá trị là 1 nếu công việc đòi hỏi kỹ năng spark, ngược lại có giá trị 0.
- **aws**: Có giá trị là 1 nếu công việc đòi hỏi kỹ năng aws, ngược lại có giá trị 0.
- **excel**: Có giá trị là 1 nếu công việc đòi hỏi kỹ năng excel, ngược lại có giá trị 0.
- **sql**: Có giá trị là 1 nếu công việc đòi hỏi kỹ năng sql, ngược lại có giá trị 0.
- **sas**: Có giá trị là 1 nếu công việc đòi hỏi kỹ năng sas, ngược lại có giá trị 0.
- **keras**: Có giá trị là 1 nếu công việc đòi hỏi kỹ năng keras, ngược lại có giá trị 0.
- **pytorch**: Có giá trị là 1 nếu công việc đòi hỏi kỹ năng pytorch, ngược lại có giá trị 0.
- **scikit**: Có giá trị là 1 nếu công việc đòi hỏi kỹ năng scikit, ngược lại có giá trị 0.
- **tensor**: Có giá trị là 1 nếu công việc đòi hỏi kỹ năng tensor, ngược lại có giá trị 0.
- **hadoop**: Có giá trị là 1 nếu công việc đòi hỏi kỹ năng hadoop, ngược lại có giá trị 0.
- **tableau**: Có giá trị là 1 nếu công việc đòi hỏi kỹ năng tableau, ngược lại có giá trị 0.
- **bi**: Có giá trị là 1 nếu công việc đòi hỏi kỹ năng PowerBi, ngược lại có giá trị 0.
- **flink**: Có giá trị là 1 nếu công việc đòi hỏi kỹ năng flink, ngược lại có giá trị 0.
- **mongo**: Có giá trị là 1 nếu công việc đòi hỏi kỹ năng mongodb, ngược lại có giá trị 0.
- **google_an**: Có giá trị là 1 nếu công việc đòi hỏi kỹ năng google analytics, ngược lại có giá trị 0.
- **job_title_sim**: Tên đơn giản của chức danh công việc.
- **seniority_by_title**: Có chữ senior trong chức danh.
- **Degree**: Có giá trị M nếu công việc yêu cầu bằng cấp hoặc số năm kinh nghiệm; có giá trị P trong các trường hợp còn lại.

### Mỗi cột hiện đang có kiểu dữ liệu gì? Có cột nào có kiểu dữ liệu chưa phù hợp để có thể xử lý tiếp không?

Lấy giá trị dtype (kiểu dữ liệu của mỗi phần tử) của mỗi cột trong dataframe:

In [18]:
col_dtypes = df.dtypes
col_dtypes

Job Title              object
Salary Estimate        object
Job Description        object
Rating                float64
Company Name           object
Location               object
Headquarters           object
Size                   object
Founded                 int64
Type of ownership      object
Industry               object
Sector                 object
Revenue                object
Competitors            object
Hourly                  int64
Employer provided       int64
Lower Salary            int64
Upper Salary            int64
Avg Salary(K)         float64
company_txt            object
Job Location           object
Age                     int64
Python                  int64
spark                   int64
aws                     int64
excel                   int64
sql                     int64
sas                     int64
keras                   int64
pytorch                 int64
scikit                  int64
tensor                  int64
hadoop                  int64
tableau                 int64
bi                      int64
flink                   int64
mongo                   int64
google_an               int64
job_title_sim          object
seniority_by_title     object
Degree                 object
dtype: object

Ta thấy:
- Các cột Size, Revenue có dtype là object thay vì dạng số.
- Cột Salary Estimate, Location chứa nhiều hơn một thông tin.

Do đó, dữ liệu trong các cột này chưa phù hợp để đưa ra các phân tích. Tuy nhiên, ta chưa vội tiền xử lý các cột này, vì ta cần đưa ra câu hỏi trước để quyết định những cột dữ liệu nào cần cho việc trả lời câu hỏi, khi đó ta sẽ tiền xử lý các cột liên quan đến câu hỏi (nhằm tránh tình trạng bỏ thời gian tiền xử lý trước dữ liệu nhưng những cột dữ liệu này lại không cần cho quá trình tìm câu trả lời cho câu hỏi).

Ta cũng nhận thấy có một số cột trùng dữ liệu so với cột khác hoặc dữ liệu của cột đó không chứa thông tin cần thiết cho quá trình phân tích sau này. Do đó, ta loại bỏ các cột này ra khỏi dataframe để tiện cho việc xử lý và phân tích.

#### Vấn đề cần tiền xử lý:

- Loại bỏ các cột bị trùng dữ liệu với cột khác: company_txt (trùng với Company Name).
- Loại bỏ các cột chứa thông tin không cần thiết: Headquarters, Competitors, Hourly, Employer provided.

In [23]:
df = df.drop(columns=["company_txt", "Headquarters", "Competitors", "Hourly", "Employer provided"])
df.shape

(742, 36)

### Với mỗi cột có kiểu dữ liệu dạng số (numerical), các giá trị được phân bố như thế nào?
(tính tỉ lệ các giá trị thiếu, min/max của các cột có kiểu dữ liệu dạng số)

Lấy ra các cột có kiểu dữ liệu dạng số:

In [40]:
col_dtypes = df.dtypes
numerical_cols = col_dtypes[col_dtypes != "object"] #vì trong df này chỉ có 3 loại dtype là object, int và float
numerical_cols = list(numerical_cols.index)
numerical_cols

['Rating',
 'Founded',
 'Lower Salary',
 'Upper Salary',
 'Avg Salary(K)',
 'Age',
 'Python',
 'spark',
 'aws',
 'excel',
 'sql',
 'sas',
 'keras',
 'pytorch',
 'scikit',
 'tensor',
 'hadoop',
 'tableau',
 'bi',
 'flink',
 'mongo',
 'google_an']

Theo như tác giả đề cập, các giá trị -1 trong bộ dữ liệu ám chỉ các thông tin không được cung cấp hoặc không thể thu thập bằng selenium. Do đó, ta sẽ thay những giá trị này bằng NaN

In [44]:
df = df.replace(-1, np.nan)

In [52]:
numerical_df = df[numerical_cols]
nume_col_profiles_df = pd.DataFrame(data={"missing_ratio": numerical_df.isnull().mean() * 100,
                       "min": numerical_df.min(),
                       "max": numerical_df.max()})
nume_col_profiles_df = nume_col_profiles_df.T
nume_col_profiles_df

,Rating,Founded,Lower Salary,Upper Salary,Avg Salary(K),Age,Python,spark,aws,excel,...,keras,pytorch,scikit,tensor,hadoop,tableau,bi,flink,mongo,google_an
missing_ratio,1.48248,6.738544,0.0,0.0,0.0,6.738544,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
min,1.90000,1744.000000,15.0,16.0,15.5,2.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
max,5.00000,2019.000000,202.0,306.0,254.0,277.000000,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

### Với mỗi cột có kiểu dữ liệu dạng phân loại (categorical), các giá trị được phân bố như thế nào?
(tính tỉ lệ các giá trị thiếu, số lượng các giá trị khác nhau, show một vài giá trị)

Lấy ra các cột dạng categorical:

In [55]:
cate_cols = df.dtypes
cate_cols = cate_cols[cate_cols == "object"]
cate_cols = list(cate_cols.index)
cate_cols

['Job Title',
 'Salary Estimate',
 'Job Description',
 'Company Name',
 'Location',
 'Size',
 'Type of ownership',
 'Industry',
 'Sector',
 'Revenue',
 'Job Location',
 'job_title_sim',
 'seniority_by_title',
 'Degree']

Ở cột Location có các giá trị "Unknown", ta thay chúng bằng NaN.Tương tự, ta cũng thay các giá trị "na" trong cột seniority_by_title và Degree bằng NaN.

In [61]:
df = df.replace("Unknown", np.nan)
df = df.replace("na", np.nan)

In [62]:
cate_df = df[cate_cols]

def remove_nan(col):
    return col[col==col]

values = cate_df.values.T
notnan_values = list(map(remove_nan, values))

cate_col_profiles_df = pd.DataFrame(data={"missing_ratio": cate_df.isnull().mean() * 100,
                       "num_diff_vals": cate_df.nunique(),
                       "diff_vals": list(map(list, map(set, notnan_values)))})

cate_col_profiles_df = cate_col_profiles_df.T

cate_col_profiles_df

,Job Title,Salary Estimate,Job Description,Company Name,Location,Size,Type of ownership,Industry,Sector,Revenue,Job Location,job_title_sim,seniority_by_title,Degree
missing_ratio,0,0,0,0,0,0,0,0,0,0,0,1.34771,69.9461,51.6173
num_diff_vals,264,416,463,343,200,8,9,60,25,13,37,9,2,2
diff_vals,"[Senior Data Scientist Statistics, Sr. Scienti...","[$119K-$187K (Glassdoor est.), $49K-$76K (Glas...",[Data Scientist\r\nAffinity Solutions / Market...,"[Factual\r\n4.3, Demandbase\r\n4.5, IZEA\r\n4....","[Dayton, OH, Portsmouth, VA, Salt Lake City, U...","[unknown, 1 - 50 , 5001 - 10000 , 51 - 200 , 2...","[Company - Public, Government, Nonprofit Organ...","[Wholesale, -1, Mining, Trucking, Construction...","[Education, -1, Insurance, Transportation & Lo...","[$1 to $2 billion (USD), $10 to $25 million (U...","[DE, CT, ID, KS, DC, MN, VA, TN, CA, OH, IN, G...","[director, data modeler, data engineer, machin...","[jr, sr]","[M, P]"

## 3. Đưa ra các câu hỏi có ý nghĩa cần trả lời

### Câu hỏi 1:

- Trả lời được có lợi ích gì?

### Câu hỏi 2:

- Trả lời được có lợi ích gì?

## 4. Tiền xử lý và phân tích dữ liệu để trả lời các câu hỏi

## Câu hỏi 1:

### Tiền xử lý
- Các bước thực hiện:

In [ ]:
#Code

### Phân tích dữ liệu
- Các bước thực hiện:

In [4]:
#Code

## Câu hỏi 2:

### Tiền xử lý
- Các bước thực hiện:

In [5]:
#Code

### Phân tích dữ liệu
- Các bước thực hiện:

In [6]:
#Code

## 5. Nhìn lại quá trình làm đồ án

- TV1 : Những khó khăn?
        Học được gì?

- TV2: Những khó khăn?
        Học được gì?

- Nhóm: nếu có thêm thời gian thì sẽ làm gì?

## 6. Tài liệu tham khảo